$primary: #84A3C4;
$primary-text: #3C3C53;
$primary-subtext: #8A8A9F;
$yellow: #F4C886;
$gray: #8A8A9F;
$gray-light: #CCCCD7;
$gray-bg: #edf0f3;
$blue: #6185AC;
$gutter: 3rem;
$grid-gutter-width: 3rem;
